
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/
allure-report/
dist/
.DS_Store
.playwright-cli/
.claude/settings.local.json
